html
{
	height: 100%;
}

body
{
	background-image: url("../img/chillyroom_background.jpg");
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.navbar
{
	width: 100%;
}

footer{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background-color: #212529;
	color: white;
	padding: 25px;
	margin-top: auto;
}

.bold
{
    font-size: 20px;
    font-weight: bold;
}

.pad_right
{
    padding-right: 16px !important;
}

.active
{
	color:white !important;
}

.white
{
	color: white;
}

/* Sign in/up page */
.signup-box
{
	width: 360px;
	height: 620px;
	margin: auto;
	background-color: #212529;
	border-radius: 3px;
}

h1
{
	text-align: center;
	padding-top: 15px;
	color: white;
	font-weight: bold;
}

.signin-page
{
	justify-content: center;
	text-align: center;
	padding-top: 50px;
}

.display_none
{
	display: none;
}

form input
{
	width: 100%;
	margin-top: 25px;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
	font-weight: bold;
}

input[type="submit"]
{
	margin-top: 25px;
	border: none;
	background-color: #49c1a2;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

p 
{
	margin-top: 20px;
	color: white;
	font-weight: bold;
}

p a, p a:hover
{
	text-decoration: none;
	color: cyan;
}

/* Home slider */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  min-height: 500px !important;
  min-width: 500px !important;    /* Set slide height here */

}

/* Characters */
.CharacterSize
{
	width: 55px;
	height: 50px;
}

table > thead > tr, table > tbody > tr
{
	color:white;
	border: 5px solid #2e313a;
	border-collapse: collapse;
}

.wrap
{
	white-space: pre-wrap;
}

table > thead > tr > th
{
	text-align: center;
	font-size: 16px;
}

table > tbody > tr > td
{
	text-align: center;
	padding: 10px 30px;
	font-size: 15px;
}

.character_title
{
	color: white;
	padding-left: 10px;
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
}

.character_text
{
	color: white;
	padding-left: 10px;
	font-size: 17px;
	padding: 10px;
}

/* Dropdown menu */
.item_active
{
	background-color: #212529 !important;
	color: white !important;
	font-weight: bold !important;
}

.dropdown-menu
{
	background-color: #212529 !important;
}

.dropdown-item
{
	color: rgba(255,255,255,.55);
	font-weight: bold;
}

.dropdown-item.active, .dropdown-item:active {
	color: black !important;
	background-color: #f8f9fa !important;
}

.dropdown-item.hover, .dropdown-item:hover
{
	color: black !important;
	background-color: #f8f9fa !important;
}