body
{
	background-image: url("../img/chillyroom_background.jpg");
}

.arr{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background-color: #212529;
	margin-top: 15px;
	padding: 20px;
	color: white;
}

.bold
{
    font-size: 20px;
    font-weight: bold;
}

.pad_right
{
    padding-right: 16px !important;
}

.pad_right_none
{
	padding-right: none !important;
}

.active
{
	color:white !important;
}

.white
{
	color: white;
}

/* Sign in/up page */
.signup-box
{
	width: 360px;
	height: 620px;
	margin: auto;
	background-color: #212529;
	border-radius: 3px;
}

h1
{
	text-align: center;
	padding-top: 15px;
	color: white;
	font-weight: bold;
}

.signin-page
{
	justify-content: center !important;
	text-align: center;
	margin-top: 100px;
}

.display_none
{
	display: none;
}

form input
{
	width: 100%;
	margin-top: 25px;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
	font-weight: bold;
}

input[type="submit"]
{
	margin-top: 25px;
	border: none;
	background-color: #49c1a2;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

p 
{
	margin-top: 20px;
	color: white;
	font-weight: bold;
}

p a, p a:hover
{
	text-decoration: none;
	color: cyan;
}


.success
{
	color: green;
}

.error
{
	color: red;
}


/* Dropdown menu */
.item_active
{
	background-color: #212529 !important;
	color: white !important;
	font-weight: bold !important;
}

.dropdown-menu
{
	background-color: #212529 !important;
}

.dropdown-item
{
	color: rgba(255,255,255,.55);
	font-weight: bold;
}

.dropdown-item.active, .dropdown-item:active {
	color: black !important;
	background-color: #f8f9fa !important;
}

.dropdown-item.hover, .dropdown-item:hover
{
	color: black !important;
	background-color: #f8f9fa !important;
}
